{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block body %}

<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
     <link href="../static/css/d3.slider.css" rel="stylesheet">
     <script src="../static/js/d3.slider.js" type="text/javascript"></script>
     <script src="../static/js/d3.slider.js" type="text/javascript"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.9.0/d3-legend.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.9.0/d3-legend.min.js"></script>
<center>
<div id="container" id="main">
	<h2>New Freshmen Enrollment by County</h2>
	<div id="slider7" style="width: 1140px;"></div>
	<div id="map"></div>
    <div id="tooltip"></div>
</div>
</center>

<script type="text/javascript">

    makeMap("2015");
    d3.select('#slider7').call(d3.slider().axis(true).min(2006).max(2015).step(1).value("2015").on("slide", function(evt, value) {
        $('#map').empty();
        makeMap(value);

}));

function makeMap(value){
    var percent = "percent"

	//Width and height
	var w = 400;
	var h = 640;
	var padding = [ 20, 10, 30, 35 ];  //Top, right, bottom, left

	//Define map projection
	var projection = d3.geo.albers()
				   	.center([ 6.5, 40 ])
				  	.translate([ w/2, h/2 ])
				  	.scale([ w * 15 ]);

	//Define path generator
	var path = d3.geo.path()
					 .projection(projection);

	//define quantize scale to sort data values into areas of color
	var color = d3.scale.quantize()
				.range([ "#ffffcc", "#a1dab4", "#41b6c4", "#2c7fb8", "253494"]);

	//Create SVG
	var svg = d3.select("#map")
				.append("svg")
				.attr("width", w)
				.attr("height", h);

	//Load in revenue data
	d3.csv("../static/data/county_data/county-"+value+".csv", function(data) {
			//set input domain for color scale
			color.domain ([
				d3.min(data, function(d) {return +d[percent]; }), 500
				//d3.max(data, function(d) {return +d[percent]; })
				]);

	var nameToPercent = {}
	data.forEach(function(d){
		nameToPercent[d.county.replace(/\s/g, '').toUpperCase()] = +d.percent
	})

	svg.append("g")
        .attr("class", "legendQuant")
        .attr("transform", "translate(0,450)");

    var legend = d3.legend.color()
        .labels(['1 to 100 students', '100 to 200 students', '200 to 300 students', '300 to 400 students', '> 400 students'])
        .shapePadding(0)
        .scale(color)
        .ascending(true)
        .shapeWidth(17)
        .shapeHeight(30);

    svg.select(".legendQuant")
        .call(legend);

	//Load in GeoJSON data
	d3.json("../static/data/mapshaper_illinois.json", function(json)
	{
			json.features.forEach(function(d){
				var name = d.properties.COUNTY_NAM
				var dataValue = nameToPercent[name]
				d.properties.percent = dataValue
			})

		//Bind data and create one path per GeoJSON feature
		svg.selectAll("path")
		   .data(json.features)
		   .enter()
		   .append("path")
		   .attr("d", path)
		   .attr("stroke", "black")
		   .attr("stroke-width", .75 )
		   .style("fill", function(d) {

		   		//get data value
		   		var value = d.properties.percent

		   		if (value) {
		   			//if value exists...
		   			console.log(value);
		   			//this is really bad, fix the percentages
		   			if (value > 499)
		   			{
		   				value = 499
		   			}

		   			return color(value);
		   		}

		   	});


		var tooltip = d3.select("#tooltip");

		//Create tooltips
		svg.selectAll("path")
			.data(json.features)
			.on("mouseover", function() {
				return tooltip.style("visibility", "visible");
			})
			.on("mousemove", function(d) {

				//debugger

				tooltip.html('')

				tooltip
					.style("top", (d3.event.pageY + 16) + "px")
					.style("left", (d3.event.pageX + 16) + "px")

				tooltip
					.append('div')
					.text(d.properties.COUNTY_NAM + ": " + d.properties.percent + " students")

			})
			.on("mouseout", function() {
				return tooltip.style("visibility", "hidden");
			})
		}); //end d3.json()

	}); //end d3.csv
    }

</script>
{% endblock %}