{% extends "layout.html" %}
{% block body %}
<style type="text/css">
	div.tooltip {
		visibility:hidden;
		position:absolute;
		background: #ffffff;
		width: 155px;
		height: 10px;
		padding-bottom: .5em;
		padding-top: .25em;
		padding-left: .5em;
		font-size: 12px;
		font-family: Helvetica, Arial, sans-serif;
		text-align: left;

		border: 1px solid;
		pointer-events: none;		
	}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="../static/d3-geomap/js/d3.geomap.js" type="text/javascript"></script>

<div id="container">
	<center><h2>Enrollment by County</h2></center>
	<div id="map"></div>
</div>

<div class="tooltip"></div>

<script type="text/javascript">

	//crop revenue to map
	var percent = "percent"

	//Width and height
	var w = 500;
	var h = 800;
	var padding = [ 20, 10, 30, 35 ];  //Top, right, bottom, left

	//Define map projection
	var projection = d3.geo.albers()
					   .center([ 6.5, 40 ])
					   .translate([ w/2, h/2 ])
					   .scale([ w * 15 ]);


	//Define path generator
	var path = d3.geo.path()
				 .projection(projection);

	//define quantize scale to sort data values into areas of color
	var color = d3.scale.quantize()
				  .range([ "#CCFF99", "#CCFF66", "#99FF00", "#00FF00"]);

	//Create SVG
	var svg = d3.select("#map")
				.append("svg")
				.attr("width", w)
				.attr("height", h);

	//Load in revenue data
	d3.csv("./data/county-2006.csv", function(data) {
		//set input domain for color scale
		color.domain ([
			d3.min(data, function(d) {return +d[percent]; }),
			d3.max(data, function(d) {return +d[percent]; })
			]);

		var nameToPercent = {}
		data.forEach(function(d){
			nameToPercent[d.county.toUpperCase()] = +d.percent
		})

	//Load in GeoJSON data
	d3.json("mapshaper_illinois.json", function(json) {

		json.features.forEach(function(d){
			var name = d.properties.COUNTY_NAM
			var dataValue = nameToPercent[name]
			d.properties.percent = dataValue
		})
		
		//Bind data and create one path per GeoJSON feature
		svg.selectAll("path")
		   .data(json.features)
		   .enter()
		   .append("path")
		   .attr("d", path)
		   .attr("stroke", "black")
		   .attr("stroke-width", .75 )
		   .style("fill", function(d) {

		   		//get data value
		   		var value = d.properties.percent

		   		if (value) {
		   			//if value exists...
		   			return color(value);
		   		}

		   	});


		var tooltip = d3.select("div.tooltip");

		//Create tooltips
		svg.selectAll("path")
			.data(json.features)
			.on("mouseover", function() {
				return tooltip.style("visibility", "visible");
			})
			.on("mousemove", function(d) {

				//debugger

				tooltip.html('')

				tooltip
				.style("top", (d3.event.pageY + 16) + "px")
				.style("left", (d3.event.pageX + 16) + "px")

				tooltip
				.append('div')
				.text(d.properties.COUNTY_NAM + ": " + d.properties.percent + "%")
					// .html('<div class="countyName">'+d.properties.COUNTY_NAM+'</div>' + ": " + d.properties.percent + " percent");

				})
			.on("mouseout", function() {
				return tooltip.style("visibility", "hidden");
			})

		}); //end d3.json()

	}); //end d3.csv

</script>
{% endblock %}