{% extends "layout.html" %}
{% block body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-geo-projection/0.2.16/d3.geo.projection.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.js"></script>
     <link href="../static/d3-geomap/css/d3.geomap.css" rel="stylesheet">
     <link href="../static/css/bootstrap.css" rel="stylesheet">
     <link href="../static/css/d3.slider.css" rel="stylesheet">
     <script src="../static/js/d3.slider.js" type="text/javascript"></script>
    <script src="../static/d3-geomap/js/d3.geomap.js" type="text/javascript"></script>
     <script src="../static/js/bootstrap.min.js"></script>



<div class="container" id="main">
	<center><h2>New Freshmen Enrollment by State</h2></center>

    <div id="slider7"></div>
    <div id="map"></div>

    <br>
    </br>

<script type="text/javascript">
    var map = d3.geomap.choropleth()
		.geofile("../static/d3-geomap/topojson/countries/USA.json")
		.projection(d3.geo.albersUsa)
		.colors(colorbrewer.YlGnBu[5])
		.column('2015') //year
		.unitId('fips') //state code
		.scale(1000)
		.legend(true)
		.domain([1,100])
		.format(d3.format('f'));
	d3.csv("../static/data/state-all.csv", function(error, data) {
		d3.select('#map')
		.datum(data)
		.call(map.draw, map);
	});
    d3.select('#slider7').call(d3.slider().axis(true).min(2006).max(2015).value(2015).step(1).on("slide", function(evt, value) {
    $('#map').empty();
   var map = d3.geomap.choropleth()
		.geofile("../static/d3-geomap/topojson/countries/USA.json")
		.projection(d3.geo.albersUsa)
		.colors(colorbrewer.YlGnBu[5])
		.column(value) //year
		.unitId('fips') //state code
		.scale(1000)
		.legend(true)
		.domain([1,100])
		.format(d3.format('f'));
	d3.csv("../static/data/state-all.csv", function(error, data) {
		d3.select('#map')
		.datum(data)
		.call(map.draw, map);
	});
}));
</script>


{% endblock %}