{% extends "layout.html" %}
{% block body %}

<div class="container" id="main">
	<center>
        <h2>New Freshmen Enrollment by Country</h2>
        <p class="small">Grey areas have no data (0 students).</p>
    </center>
    <div id="slider7"></div>
    <div id="map"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-geo-projection/0.2.16/d3.geo.projection.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.js"></script>
<link href="../static/d3-geomap/css/d3.geomap.css" rel="stylesheet">
<link href="../static/css/d3.slider.css" rel="stylesheet">
<script src="../static/js/d3.slider.js" type="text/javascript"></script>
<script src="../static/d3-geomap/js/d3.geomap.js" type="text/javascript"></script>

<script type="text/javascript">
    var format = function(d)
    {
        return d3.format('f')(d) + ' students';
    }

    var map = d3.geomap.choropleth()
	    .geofile('../static/d3-geomap/topojson/world/countries.json')
	    .colors(colorbrewer.YlOrBr[9])
	    .column("2015")
	    .legend(true)
	    .unitId('code')
	    .domain([1,1000])
		.format(format);

    d3.select('#slider7').call(d3.slider().axis(true).min(2006).max(2015).step(1).value(2015).on("slide", function(evt, value) {

    $('#map').empty();

    var map = d3.geomap.choropleth()
	    .geofile('../static/d3-geomap/topojson/world/countries.json')
	    .colors(colorbrewer.YlOrBr[9])
	    .column(value)
	    .legend(true)
	    .unitId('code')
	    .domain([1,1000])
		.format(format);
    d3.csv('../static/data/country-all.csv', function(error, data) {
    d3.select('#map')
        .datum(data)
        .call(map.draw, map);
    });

}));

 d3.csv('../static/data/country-all.csv', function(error, data) {
    d3.select('#map')
        .datum(data)
        .call(map.draw, map);
    });

</script>

{% endblock %}